@font-face {
  font-family: "Suisse Regular";
  src: url("/public/Fonts/SuisseIntl-Regular-WebS.woff2") format("woff2");
}

@font-face {
  font-family: "Suisse Medium";
  src: url("/public/Fonts/SuisseIntl-Medium-WebS.woff2") format("woff2");
}

@font-face {
  font-family: "Zapf";
  src: url("/public/Fonts/324B1A_0_0.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  word-break: keep-all;
}

//font
$fontDark: #333;
$fontLight: #666666;
//background
$lightColor: #FFFEF2;
$grayColor: #EBEADE;
// hover
$lightGray: #F0EFE1;
$darkGray: #E5E4D8;

